@model WebApp.Models.dto.Product

﻿<section class="product-details">
    <div class="container">
        <div class="details">
            <div class="product-image">
                <img src="~/images/placeholders/@Model.ImageUrl" alt="@Model.Name">

                <div class="details-image">
                    <img src="~/images/placeholders/@Model.ImageUrl" alt="@Model.Name">
                    <img src="~/images/placeholders/@Model.ImageUrl" alt="@Model.Name">
                    <img src="~/images/placeholders/@Model.ImageUrl" alt="@Model.Name">
                    <img src="~/images/placeholders/@Model.ImageUrl" alt="@Model.Name">
                </div>
            </div>

            <div class="content">
                <div class="title">Young Star Smart Shoe in Fashion</div>
                <div class="small-description">@Model.Description</div>
                <div class="rating">
                    <i class="fa-solid fa-star" style="color: #fff824;"></i>
                    <i class="fa-solid fa-star" style="color: #fff824;"></i>
                    <i class="fa-solid fa-star" style="color: #fff824;"></i>
                    <i class="fa-solid fa-star" style="color: #fff824;"></i>
                    <i class="fa-solid fa-star" style="color: #fff824;"></i>
                    <div class="reviews">16</div>
                </div>
                <div class="price">@Model.Price</div>

                <div class="add-to-cart">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline-primary">+</button>
                        <button type="button" class="btn btn-outline-primary">2</button>
                        <button type="button" class="btn btn-outline-primary">-</button>
                    </div>
                    <button class="btn-theme">Add To Cart <i class="add-cart fa-regular fa-cart-plus"></i></button>
                </div>
                <div class="colour">
                    <i class="fa-solid fa-circle" style="color: #e24646;"></i>
                    <i class="fa-solid fa-circle" style="color: #fff824;"></i>
                    <i class="fa-solid fa-circle" style="color: #24daff;"></i>
                </div>

                <button class="btn-outline-white">Add To Wishlist</button>
                <div class="category">@Model.Tags</div>
            </div>
        </div>
    </div>
</section>