     @model UpToSellBoxViewModel
        <div class="discover">
                <div class="collection-content">
                    <div class="container">
                        <div class="title-red">@Model.BigTitle</div>
                        <div class="title">@Model.Title</div>
                        <div class="ingress">@Model.Ingress</div>
                        <div class="text">@Model.Text</div>
                        <a href="#" class="link">@Model.Link</a>
                    </div>
                </div>
             </div>
